[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
requests = "*"
starlette = "*"
heartbridge = {editable = true, path = "."}
click = "*"

[requires]
python_version = "3.8"

[dev-packages]
pytest = "*"
factory-boy = "*"
