[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
starlette = "*"
click = "*"

[requires]
python_version = "3.8"

[dev-packages]
pytest = "*"
heartbridge = {editable = true, path = "."}
requests = "*"
build = "*"
twine = "*"
